USE [master]
GO
/****** Object:  Database [tekstil-m]    Script Date: 19.06.2024 11:40:55 ******/
CREATE DATABASE [tekstil-m]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tekstil-m', FILENAME = N'D:\ssms\MSSQL16.SQLEXPRESS\MSSQL\DATA\tekstil-m.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tekstil-m_log', FILENAME = N'D:\ssms\MSSQL16.SQLEXPRESS\MSSQL\DATA\tekstil-m_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tekstil-m].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tekstil-m]
GO
/****** Object:  Table [dbo].[Merch]    Script Date: 19.06.2024 11:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Merch](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[material] [nvarchar](50) NOT NULL,
	[razmer] [nvarchar](50) NOT NULL,
	[color] [nvarchar](50) NOT NULL,
	[photo] [nvarchar](max) NOT NULL,
	[filePath] [nvarchar](100) NULL,
 CONSTRAINT [PK_Merch] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Otvetstvenie]    Script Date: 19.06.2024 11:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Otvetstvenie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[doljnost] [nvarchar](50) NULL,
	[photo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Otvetstvenie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plan]    Script Date: 19.06.2024 11:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_merch] [int] NULL,
	[name] [nvarchar](50) NULL,
	[material] [nvarchar](50) NULL,
	[razmer] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL,
	[photo] [nvarchar](max) NULL,
	[filePath] [nvarchar](100) NULL,
	[id_otvetst] [int] NULL,
	[count] [nvarchar](50) NULL,
 CONSTRAINT [PK_Plan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 19.06.2024 11:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] NOT NULL,
	[role_n] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19.06.2024 11:40:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] NOT NULL,
	[login] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[id_role] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Merch] ON 

INSERT [dbo].[Merch] ([id], [name], [material], [razmer], [color], [photo], [filePath]) VALUES (2, N'Простынь на резинке', N'Бязь', N'80 на 190 на 10', N'Розовый', N'/photo/простынь на резинке.jpeg', N'D:\tekstil-profi-m\tekstil-profi-m\Etics\Простынь на резинке  — хостел.btw')
INSERT [dbo].[Merch] ([id], [name], [material], [razmer], [color], [photo], [filePath]) VALUES (3, N'Одеяло', N'Овечья шерсть', N'205 на 140', N'Синий', N'/photo/одеяло верблюжья шерсть 1,5 ка.jpg', N'D:/tekstil-profi-m/tekstil-profi-m/Etics/Одеяло 1,5 ка верблюжья шерсть  btw.btw')
INSERT [dbo].[Merch] ([id], [name], [material], [razmer], [color], [photo], [filePath]) VALUES (4, N'Одеяло', N'Полиэстер', N'205 на 140', N'Бежевый', N'/photo/одеяло зимнее.jpg', N'D:/tekstil-profi-m/tekstil-profi-m/Etics/Одеяло 1,5 ка зимнее btw.btw')
SET IDENTITY_INSERT [dbo].[Merch] OFF
GO
SET IDENTITY_INSERT [dbo].[Otvetstvenie] ON 

INSERT [dbo].[Otvetstvenie] ([id], [name], [doljnost], [photo]) VALUES (1, N'Ольга', N'Заместитель', N'/photo/photo otv/otv1.jpg')
INSERT [dbo].[Otvetstvenie] ([id], [name], [doljnost], [photo]) VALUES (2, N'Мария', N'Швея', N'/photo/photo otv/otv2.jpeg')
INSERT [dbo].[Otvetstvenie] ([id], [name], [doljnost], [photo]) VALUES (3, N'Дарья', N'Старшая швея', N'/photo/photo otv/otv3.jpg')
SET IDENTITY_INSERT [dbo].[Otvetstvenie] OFF
GO
SET IDENTITY_INSERT [dbo].[Plan] ON 

INSERT [dbo].[Plan] ([id], [id_merch], [name], [material], [razmer], [color], [photo], [filePath], [id_otvetst], [count]) VALUES (14, 2, N'Простынь на резинке', N'Бязь', N'80 на 190 на 10', N'Розовый', N'/photo/простынь на резинке.jpeg', NULL, 6, N'123')
INSERT [dbo].[Plan] ([id], [id_merch], [name], [material], [razmer], [color], [photo], [filePath], [id_otvetst], [count]) VALUES (16, 4, N'Одеяло', N'Полиэстер', N'205 на 140', N'Бежевый', N'/photo/одеяло зимнее.jpg', NULL, 6, N'123')
INSERT [dbo].[Plan] ([id], [id_merch], [name], [material], [razmer], [color], [photo], [filePath], [id_otvetst], [count]) VALUES (19, 2, N'Простынь на резинке', N'Бязь', N'80 на 190 на 10', N'Розовый', N'/photo/простынь на резинке.jpeg', NULL, 3, N'1')
SET IDENTITY_INSERT [dbo].[Plan] OFF
GO
INSERT [dbo].[Role] ([id], [role_n]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([id], [role_n]) VALUES (2, N'Rabotnik')
GO
INSERT [dbo].[Users] ([id], [login], [password], [id_role]) VALUES (1, N'admin', N'12345', 1)
INSERT [dbo].[Users] ([id], [login], [password], [id_role]) VALUES (2, N'rabotnick', N'123456', 2)
GO
ALTER TABLE [dbo].[Plan]  WITH CHECK ADD  CONSTRAINT [FK_Plan_Merch] FOREIGN KEY([id_merch])
REFERENCES [dbo].[Merch] ([id])
GO
ALTER TABLE [dbo].[Plan] CHECK CONSTRAINT [FK_Plan_Merch]
GO
ALTER TABLE [dbo].[Plan]  WITH CHECK ADD  CONSTRAINT [FK_Plan_Otvetstvenie] FOREIGN KEY([id_otvetst])
REFERENCES [dbo].[Otvetstvenie] ([id])
GO
ALTER TABLE [dbo].[Plan] CHECK CONSTRAINT [FK_Plan_Otvetstvenie]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([id_role])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
USE [master]
GO
